@import '../node_modules/normalize.css/normalize.css';
@import 'shared/styles/colors.scss';

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: $color-dark-blue;
  margin-top: 20px;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

h3 {
  font-size: 20px;
  margin-bottom: 35px;
}

a {
  color: $color-white;
  text-decoration: none;
}
